
@model testGoos.Models.HangmanViewModel

<h1>Hangman</h1>

<h2>Tries :@Model.Tries</h2>
<h2>Length :@Model.Length</h2>
<h2>Used :@Model.Used.ToUpper()</h2>
<h2>Discovered :@Model.Discovered.ToUpper()</h2>